av>=18,<19
Flask>=3.1,<4
numpy>=2,<3
opencv-python-headless>=4.10,<6
pandas>=2.2,<4
PyYAML>=6,<7
pytest>=8,<10
imageio-ffmpeg>=0.6,<1
tables>=3.10,<4
scipy>=1.15,<2
statsmodels>=0.14.4,<0.15
openpyxl>=3.1.5,<4
